services:
  elastic:
    build:
      context: .
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - es-data:/usr/share/elasticsearch/data

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    network_mode: host
    pid: host
    ports:
      - "9100:9100"
    command:
      - "--path.rootfs=/host"
    volumes:
      - '/:/host:ro,rslave'

volumes:
  es-data:
